# Основные включенные проверки
Checks: >
  bugprone-*,
  clang-analyzer-*,                 # Статический анализатор: утечки памяти, nullptr, двойное освобождение
  concurrency-*,
  cppcoreguidelines-*,              # Рекомендации по современному C++ (владение памятью, инициализация, массивы)
  performance-*,                    # Лишние копирования, неэффективные конструкции
  google-*
  hicpp-*,                           # Стандарты HICPP
  modernize-*,                       # Современные конструкции C++
  readability-*,                     # Стиль, читаемость

# WarningsAsErrors: '*'               # Все предупреждения превращаем в ошибки
HeaderFilterRegex: '.*'             # Проверять все заголовочные файлы
FormatStyle: file                   # Использовать .clang-format для форматирования

CheckOptions:
